// BIT CLUB Home Page Styles
// Adapted from Porto Demo 39

.float-image {
  transform: translate3d(0, 6.7%, 0);
}

.swiper-pagination-bullet {
  opacity: .4;
}

.heading {
  margin-bottom: 3.1rem;

  h5 {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.025em;
    color: #777777;
  }

  h2 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -.025em;
    line-height: 1;
  }

  p {
    margin-top: 1.4rem;
    font-weight: 300;
    letter-spacing: -.03em;
    color: #777;
  }
}

// Curve Effect for Sections
.curve-style {
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: 8vw solid #fff;
    z-index: 1;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
  }
}

.swiper-carousel {
  &:not(.dots-small) {
    .swiper-dots .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      z-index: 2;
      border-color: $primary-color-dark;

      &::before {
        background-color: $primary-color-dark;
      }
    }
  }

  .swiper-dots {
    .swiper-pagination-bullet {
      &::before {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
      }

      &.swiper-pagination-bullet-active,
      &:hover {
        border-color: $primary-color-dark;
        opacity: 1;
      }

      &:hover:before,
      &.active:before {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        background-color: $primary-color-dark;
      }
    }
  }
}

// Home Slider
.home-slider {
  background: #dadada;

  &.swiper-carousel {
    .swiper-dots {
      top: 69.9%;
    }
  }

  .home-slide>img {
    min-height: 500px;
    object-fit: cover;
  }
}

.home-slide {
  h4 {
    margin-bottom: 2rem;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: .07em;
    color: rgba(34, 37, 41, 0.7);
  }

  h3 {
    margin-bottom: .7rem;
    letter-spacing: -.022em;
    font-size: 3em;
  }

  h2 {
    margin-bottom: 1.4rem;
    font-size: 5.9em;
    letter-spacing: -.003em;
  }

  .btn {
    padding: 1.25em 2.92em 1.18em;
    font-size: .95em;
    letter-spacing: .01em;
  }
}

// Feature Box Container (Recruitment section)
.feature-boxes-container {
  position: relative;
  margin-top: -20.4rem;
  padding-top: 6.5rem;
  padding-bottom: 2.8rem;
  z-index: 1;

  .feature-box {
    padding: 5.2rem 3rem 5.2rem;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);

    i {
      margin-bottom: 1.6rem;
      font-size: 3.5em;
      color: $primary-color-dark;
    }

    h3 {
      margin-bottom: 0;
      font-size: 1.47em;
      line-height: 1.4;
    }

    h5 {
      margin: 1px 0 1.2rem;
      font-weight: 400;
      color: $body-text;
      text-transform: uppercase;
    }

    p {
      font-size: 1.4rem;
      line-height: 25px;
      letter-spacing: -.04em;
    }
  }
}

.home-page {
  .blog-section .swiper-container {
    margin: -4rem;
    padding: 4rem;
    width: calc(100% + 8rem);
  }

  .post {
    margin-bottom: 4.1rem;
  }

  .swiper-carousel .swiper-dots {
    padding-top: 0.2rem;
    margin-bottom: 2px;
  }

  .home-slider .swiper-dots {
    padding-top: 0.2rem;
  }

  // Blog Section
  .blog-section {
    padding: 2.9rem 0 1.9rem;
  }

  .post {

    a:hover,
    a:focus {
      text-decoration: none;
    }

    .read-more {
      font-weight: 700;
      float: none;
      color: $primary-color;
      text-transform: uppercase;
    }
  }

  .post-media {
    margin-bottom: 0.6rem;
  }

  .post-meta {
    margin-bottom: 1.8rem;
    font-size: .8em;
    text-transform: uppercase;

    >span {
      margin-right: .5rem;

      &:not(.meta-date) {
        color: $primary-color;
      }
    }

    i {
      margin-right: .7rem;
    }
  }

  .post-title {
    margin-bottom: 1.9rem;
    font-size: 2rem;
    font-family: $second-font-family;
    letter-spacing: -.025em;
  }

  .post-content {
    p {
      margin-bottom: 1.5rem;
      line-height: 25px;
      letter-spacing: -.028em;
      font-size: 1.4rem;
    }
  }

  .post-box {
    padding: 2.4rem 1.9rem 1.6rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, .07);
  }

  @media (max-width: 1200px) {
    .home-slide {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 991px) {
    .feature-boxes-container {
      margin-top: 7rem;
    }

    .feature-boxes-container .feature-box {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 480px) {
    .home-slide {
      font-size: 1.1rem;

      h3 {
        font-size: 2.4em;
      }

      h4 {
        font-size: 1em;
      }
    }

    .home-slider .home-slide>img {
      min-height: 300px;
    }

    .heading h2 {
      font-size: 22px;
    }
  }
}

// Resposive
@media (min-width: 1256px) {
  .container {
    max-width: 1236px;
  }
}