// Skeleton Loading Base
.skeleton-loading,
.skeleton-loading-wrap {
    height: 0 !important;
    overflow: hidden !important;
    visibility: hidden;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    min-height: 0 !important
}

@keyframes skeletonloading {
    to {
        background-position: 200% 0
    }
}

.skeleton-body .post,
.skeleton-body .reply {
    overflow: hidden;
    position: relative
}

.skeleton-body .post:after,
.skeleton-body .reply:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    transform: rotate(45deg);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 60% 100%;
    background-position: -100% 0;
    background-repeat: no-repeat;
    animation: skeletonloading 1.5s infinite .2s
}

.skeleton-body {
    position: relative;
}

// Blog Skeleton
.skeleton-body .post {
    border-bottom: none;
    margin-bottom: 30px;
    padding-bottom: 0
}

.skeleton-body .post:before {
    content: "";
    display: block;
    padding-top: calc(60% + 231px);
    background-repeat: no-repeat;
    background-image: linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 16px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 20px, transparent 0);
    background-size: 100% calc(100% - 190px), 61% 23px, 100% 14px, 100% 14px, 100% 14px, 23% 13px;
    background-position: 0px 0, left calc(100% - 145px), left calc(100% - 114px), left calc(100% - 90px), left calc(100% - 66px), left calc(100% - 36px);
}

@media (min-width: 992px) {

    .posts-medium.skeleton-body .post:before,
    .posts-medium-alt.skeleton-body .post:before {
        padding-top: 25%;
        min-height: 180px;
        background-image: linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 16px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 14px, transparent 0), linear-gradient(#f4f4f4 20px, transparent 0);
        background-size: 40% 100%, 30% 16px, 58% 14px, 58% 14px, 58% 14px, 58% 14px, 58% 20px;
        background-position: 0 0, 60% 10px, 100% 45px, 100% 70px, 100% 95px, 100% 120px, 100% 155px
    }

    .posts-medium.skeleton-body .post:after,
    .posts-medium-alt.skeleton-body .post:after {
        transform: none;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 60%);
        animation: skeletonloading 2s infinite .2s
    }
}